@import '../../../style/style';



ion-tab-bar {

  .leaveBtn {
    color: $danger_d;

  }

  .homeBtn {
    color: $primary;
  }

  .pointsBtn {
    color: $success_d;

  }
}


/*
ion-tab-bar {
  position: relative;
  //--background: var(--ion-color-tertiary);

  ion-tab-button {
    //--color: var(--ion-color-medium);
    //--color-selected: var(--ion-color-light);

    &.tab-selected::before {
      //background-color: var(--ion-color-light);
    }
  }
}
*/
