<ion-header>
  <ion-toolbar>
    <ion-title>Raum beitreten</ion-title>

      <ion-button slot="start" fill="clear" (click)="back()">
        <ion-icon slot="icon-only" name="arrow-undo-outline"></ion-icon>
      </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content>

    <form #f="ngForm" (ngSubmit)="enterNickname(f)" novalidate>

      <div class="content">
        <div class="info2">
          <ion-text>
            Du betrittst den Bingoraum: "{{roomName}}".
          </ion-text>
        </div>
        <div class="info1">
          <ion-text>
            Wähle deinen Nickname:
          </ion-text>
        </div>
        <div class="input">
          <ion-item>
            <ion-input [(ngModel)]="nickname" #nicknameCtrl="ngModel" name="nickname" placeholder="nickname" required></ion-input>
            <ion-button size="default" slot="end" type="submit" fill="clear">
              <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-item *ngIf="!nicknameCtrl.valid && nicknameCtrl.touched">
            <ion-text color="danger">Nickname erforderlich.</ion-text>
          </ion-item>
          <ion-item *ngIf="showInfo">
              <ion-text color="danger">
                Der Nickname muss: <br>
                -min. zwei Zeichen lang sein <br>
                -keine Sonderzeichen und Umlaute enthalten <br>
                -mit einem Buchstaben beginnen
              </ion-text>
          </ion-item>
        </div>
      </div>

    </form>

</ion-content>

