<ion-header>
  <ion-toolbar>
    <ion-title size="large">Login</ion-title>
    <div slot="end" class="ion-padding-end">
      <ion-button (click)="dismiss()">
        Schließen
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Quelle: https://edupala.com/ionic-form-and-template-driven-approach/ -->

  <ion-grid>
    <ion-row color="primary" justify-content-center>
      <ion-col align-self-center>
        <form #f="ngForm" (ngSubmit)="login()" novalidate>
          <div class="ion-padding">
            <ion-item>
              <ion-input [(ngModel)]="loginData.username" name="username" type="text" placeholder="Nutzername" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input [(ngModel)]="loginData.password" name="password" type="password" placeholder="Passwort" ngModel required></ion-input>
            </ion-item>
            <ion-item *ngIf="loginFail">
              <ion-text color="danger">Login fehlgeschalgen</ion-text>
            </ion-item>
          </div>
          <div class="ion-padding">
            <ion-button #LoginBtn class="login" size="large" type="submit" [disabled]="f.invalid" expand="block">Einloggen</ion-button>
          </div>
        </form>
      </ion-col>
    </ion-row>
    <div class="ion-padding">
      <ion-row justify-content-center>
        <ion-col align-self-center>
          <ion-text>Noch nicht registriert?</ion-text>
        </ion-col>
      </ion-row>
      <ion-row justify-content-center>
        <ion-col align-self-center>
          <ion-button size="medium" expand="block" (click)="toRegister()">Registiere dich ❤️🥰</ion-button>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>

</ion-content>
