$primary: rgb(4, 71, 143);
$secondary: rgb(255, 255, 255);
$danger: rgb(255, 55, 55);
$danger_d: rgb(176, 38, 38);
$success: rgb(113, 206, 64);
$success_d: rgb(71, 131, 42);
$warning: rgb(253, 198, 58);
$dark: rgb(66, 66, 66);
$light: rgb(215, 215, 215);
